<title><%= title %> - <%= company.name %></title>
<!--<link rel="icon" type="image/x-icon" href="/images/favicon.ico">-->
<link rel="stylesheet" href="css/main.css">

<link rel="icon" href="/images/action_key_24dp_536DFE_FILL0_wght400_GRAD0_opsz24.svg">