{{#> layouts/simple }}

  {{> navbar}}

  {{#> hero title='<span class="fw-bold text-primary">Shop</span> In-Store'}}
    <p class="lead mb-4">
      <span class="fw-semibold">{{siteMetadata.name}}</span> is committed to the environmentally friendly recycling of e-waste.
      However, due to logistical reasons, we are unfortunately unable to accept all donations. Please see below for more details.
    </p>
  {{/hero}}

  <section class="container py-1">

    <!-- Desktops -->
    <h2 class="mt-5 mb-3 fw-bold">Desktops</h2>

    <p class="mb-3">
      The listed concession price is only available to concession card holders. Please have a valid concession card ready when you make your purchase, you may purchase a desktop computer without a concession card however you will be charged our full market price.
    </p>

    {{#if stock.length}}
      <div class="row">
        {{#each stock}}
          {{> stock-item}}
        {{/each}}
      </div>
    {{else}}
      <p class="text-muted">No stock available at the moment.</p>
    {{/if}}
    </div>



  </section>

{{/layouts/simple}}