<div class="row gy-4">
  <div class="col-md-6">
    <div class="card bg-secondary text-white mb-4">
      <div class="card-header fw-bold">Customers</div>
      <div class="card-body">
        <ul class="list-unstyled mb-0">
          <li>Affordable, quality-assured IT products</li>
          <li>Technical support</li>
          <li>Helping to bridge ‘the digital divide’</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card bg-secondary text-white mb-4">
      <div class="card-header fw-bold">Environment</div>
      <div class="card-body">
        <ul class="list-unstyled mb-0">
          <li>Reducing eWaste</li>
          <li>Extending the life of hardware</li>
          <li>Properly recycling computer components</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row gy-4 mb-5">
  <div class="col-md-6">
    <div class="card bg-secondary text-white mb-4">
      <div class="card-header fw-bold">Donors / Partners</div>
      <div class="card-body">
        <ul class="list-unstyled mb-0">
          <li>Corporate Social Responsibility partnerships</li>
          <li>Giving back to society</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card bg-secondary text-white mb-4">
      <div class="card-header fw-bold">Volunteers</div>
      <div class="card-body">
        <ul class="list-unstyled mb-0">
          <li>Providing opportunities to improve IT skills</li>
          <li>References for future employment</li>
        </ul>
      </div>
    </div>
  </div>
</div>