{{#> layout_dynamic_seo title=page.title }}
  {{> navbar}}
  <section class="container py-5">
    <h1 class="mb-4 fw-bold">Donate or Recycle</h1>
    <p class="lead"><span class="fw-semibold">{{site.name}}</span> is committed to the environmentally friendly recycling of e-waste. However, due to logistical reasons, we are unfortunately unable to accept all donations. Please see below for more details.</p>

    <!-- Personal / Single Donations -->

    <h2 class="mt-5 mb-3 fw-bold">Personal / Single Donations</h2>

    <p>We accept <span class="fw-medium">clean</span> (not damaged) laptops and tablets <span class="fw-bold">suitable for refurbishment</span> and reuse. However, we cannot accept:</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Printers or Scanners</li>
      <li class="list-group-item">Desktop Computers <sup>*</sup></li>
      <li class="list-group-item">Monitors / Screens<sup>*</sup></li>
      <li class="list-group-item">Digital Media</li>
      <li class="list-group-item">Miscellaneous Cables</li>
      <li class="list-group-item">DVD Players and Other Electronic Devices</li>
    </ul>

    <h3 class="mt-4 fw-semibold">Alternative Recycling Options</h3>
    <p>For responsible disposal, please visit:</p>
    <ul>
      <li><a href="#">Recycling Near You</a></li>
      <li><a href="#">TechCollect</a></li>
      <li><a href="#">Sustainability Victoria: eWaste</a></li>
    </ul>

    <!-- Business / Bulk Donations -->

    <h2 class="mt-5 mb-3 fw-bold">Business / Bulk Donations</h2>
    <p>We welcome bulk donations of laptops, desktops, and monitors from businesses or schools. Depending on quantity and location, we may arrange collection.</p>
    <h3 class="mt-4 fw-semibold">How to Proceed</h3>
    <p>Contact us to discuss collection and donation options.</p>

    <!-- Contact Information -->
    <h2 class="mt-5 mb-3 fw-bold">Contact Information</h2>
    <ul>
      <li><strong>Email:</strong> support@databankin.no</li>
      <li><strong>Phone:</strong> +47 800 55 678</li>
      <li><strong>Address:</strong> Wessels gate 181, Trondheim, Trondelag, 7043, Norway</li>
    </ul>
  </section>
{{/ layout_dynamic_seo }}
