<div class="p-5 gradient-primary text-white text-center">
    <h1 class="display-4">Computers</h1>
    <p class="lead">Affordable, Sustainable, and Accessible Technology for All</p>
    <a href="<%= basePath %>stocklist" class="btn btn-light btn-lg">Explore Now</a>
</div>