<div class="carousel-item gradient-green">
  <div class="p-5 text-white xtext-center h-100">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="images/hp-dc7700-sff.png" class="img-fluid rounded" alt="Carousel Image">
        </div>
        <div class="col-md-8">
          <div class="p-5">
            <h1 class="display-4">Our Computers</h1>
            <p class="lead">
              Desktop computers are a low-cost solution for working and studying from home.
            </p>
            <a href="shop-desktops.html" class="btn btn-light btn-lg">Shop Desktops</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

