<div class="p-5 gradient-green text-white text-center">
    <h1 class="display-4">{{site.deal.title}}</h1>
    <p class="lead">{{site.deal.text}}</p>
    <a href="<%= basePath %>deals" class="btn btn-light btn-lg">Shop Deals</a>
</div>