<div class="carousel-item active gradient-primary">
  <div class="p-5 text-white xtext-center h-100">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="images/refurbished-dell.png" class="img-fluid rounded" alt="Carousel Image">
        </div>
        <div class="col-md-8">
          <div class="p-5">
            <h1 class="display-4">Our Deals</h1>
            <p class="lead">
              We provide affordable, refurbished desktops and laptops
              with Linux and open-source software pre-installed.
            </p>
            <a href="#computers" class="btn btn-light btn-lg">View Inventory</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

