<div class="p-5 gradient-green text-white text-center">
    <h1 class="display-4">Deals!!!</h1>
    <p class="lead">Affordable, Sustainable, and Accessible Technology for All</p>
    <a href="<%= basePath %>deals" class="btn btn-light btn-lg">Shop deals</a>
</div>