<div class="container-fluid bg-light-subtle pt-2 pb-2">
  <div class="container">
    <h1 class="display-1 text-primary">{{{title}}}</h1>
    <p class="lead mb-2">{{> @partial-block }}</p>
  </div>
</div>