{{#> layout-vbox }}

  <!-- Main Content -->
  <main class="flex-grow-1 d-flex">
    <div class="container my-5">
      <h2 class="mb-4">{{page.title}}</h2>

      {{#if stock.length}}
        <div class="row">
          {{#each stock}}
            {{> stock-item}}
          {{/each}}
        </div>
      {{else}}
        <p class="text-muted">No stock available at the moment.</p>
      {{/if}}
    </div>
  </main>

{{/layout-vbox}}