@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


/* SCSS HEX */
$golden-gate-bridge: #EF540Eff;
$forest-green: #1C8D20ff;
$platinum: #E7E1DEff;
$navy-blue: #0F0074ff;
$tekhelet: #42327Dff;

// Override Bootstrap Theme Colors
$primary: $forest-green; // Body
$secondary: $navy-blue;


// scss-docs-start theme-bg-subtle-variables
$primary-bg-subtle:       hot-pink; //tint-color($primary, 80%) !default;
//$secondary-bg-subtle:     tint-color($secondary, 80%) !default;
//$success-bg-subtle:       tint-color($success, 80%) !default;
//$info-bg-subtle:          tint-color($info, 80%) !default;
//$warning-bg-subtle:       tint-color($warning, 80%) !default;
//$danger-bg-subtle:        tint-color($danger, 80%) !default;
//$light-bg-subtle:         mix($gray-100, $white) !default;
//$dark-bg-subtle:          $gray-400 !default;

// 451 Style anchor elements.


$link-color:                              $primary;
$link-decoration:                         none;
$link-shade-percentage:                   20% !default;
//$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
//$link-hover-decoration:                   null !default;


//606
$font-family-sans-serif:   "Manrope", serif; //   "Andada Pro", serif;

//654
//$headings-font-family:  "Lexend Giga", serif;

// Import All of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";




.gradient-primary {
  background: rgb(255,204,128);
  background: linear-gradient(90deg, rgba(255,204,128,1) 0%, rgba(255,152,0,1) 35%, rgba(239,108,0,1) 100%);
}

.gradient-secondary {
  background: rgb(159, 168, 218);
  background: linear-gradient(90deg, rgba(159, 168, 218, 1) 0%, rgba(92, 107, 192, 1) 35%, rgba(40, 53, 147, 1) 100%);
}

.gradient-green {
  background: rgb(27,94,32);
  background: linear-gradient(90deg, rgba(27,94,32,1) 0%, rgba(46,125,50,1) 35%, rgba(76,175,80,1) 100%);
}

sup {
  color: $primary !important;
}